/* GLOBALS */
@import "./assets/fonts/stylesheet.css";
.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: 32px;
  color: #2e3333;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  color: #2e3333;
  margin-bottom: 25px;
  font-weight: bold;
  padding-top: 50px;
}

h3 {
  font-size: 18px;
  color: #2e3333;
}

/* HEADER */
header {
  border-bottom: 1px lightgray solid;
  margin-bottom: 30px;
}
header img {
  width: 160px;
  margin: 10px 0;
}

/* MAIN */

.restaurant-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 50px;
  margin-bottom: 30px;
  height: 260px;

  img {
    width: 350px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
  }
}

.restaurant-info-bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text-info > p {
  font-size: 19px;
  color: #868a8a;
  line-height: 29px;
}
.restaurant-info-picture {
  display: flex;
}

.food-payment-category {
  display: flex;
  gap: 30px;
  background-color: #f3f5f5;
  padding-bottom: 25px;
}

/* articles */
.block-category {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: calc(50%-50px);
  flex-wrap: wrap;
}

.aside {
  font-size: 14px;
  color: #808084;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price-popularity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.meal-price {
  font-size: 17px;
}
.popular {
  color: #ff8000;
  font-size: 12px;
  font-weight: bold;
}

.food-category {
  display: flex;
}

.meal-picture > img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.meal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  height: 160px;
  width: 400px;
  padding: 15px;
}

/* EMPTY BASKET */

.basket-title-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868a8a;
  font-weight: bold;
  background-color: #bac3c3;
  height: 50px;
  width: 330px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
}
.empty-basket {
}

.empty-basket p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #868a8a;
  padding-top: 30px;
}

/* Basket bloc */
.payment-column {
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  width: 350px;
  min-height: 150px;

  .basket-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: #02cdbd;
    height: 50px;
    width: 330px;
    border-radius: 7px;
    border: #02cdbd 1px solid;
    font-size: 18px;
  }
}

/* 1st line */

.counter {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  min-width: 70px;

  p {
    width: 15px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    align-items: center;
    border: #02cdbd 2px solid;
    background-color: white;
  }
}

.meal-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  min-height: 65px;
}
.meal-name {
  flex: 1;
  font-size: 16px;
  text-align: left;
}
.basket-meal-price {
  font-size: 16px;
  min-width: 70px;
  text-align: right;
}

.sub-total {
  border-bottom: #868a8a 0.5px solid;
  margin: 0 10px;
  padding: 10px 0;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  font-size: 16px;
  color: #2e3333;
  border-top: #868a8a 0.5px solid;
}

.sub-total > div,
.total > div {
  display: flex;
  justify-content: space-between;
}

.total {
  padding: 10px 0;
  margin: 0 10px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19px;
  color: #2e3333;
}
